html, body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: chocolate;
}

header a, header span {
    color: #ffffff;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main {
    margin-top: 30px;
}

.reg__form, .adding {
    display: flex;
    flex-direction: column;
}

.reg__form input, .adding__title, .adding input, .adding textarea, .new span  {
    margin-bottom: 10px;
}

.errors {
    color: red;
}

.news__add-block {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.adding textarea {
    resize: none;
}

.new {
    padding: 10px;
    background-color: aliceblue;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
}

.new span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.new__created-at, .new__title, .new span {
    color: #000000;
}

.new__title, .post__title {
    font-size: 20px;
}

.new__created-at {
    text-align: right;
}

.pagination {
    margin-bottom: 50px;
}

.post div {
    margin-bottom: 20px;
}

.post__right {
    text-align: right;
}